@import '../../../assets/styles/mixins';

.collections {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 40px;
	margin-top: 40px;

	> a {
		@include animate-fade;
	}
}

.collection {
	position: relative;
	height: 176px;
	display: flex;
	align-items: flex-end;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transition-duration: 200ms;

	@include fade-bg-gradient(0deg);
	&::before {
		border-radius: 12px;
	}

	img {
		@include image-like-bg;
		border-radius: 12px;
		box-shadow: 0 10px 10px 0 rgb(0 0 0 / 15%), 0 6px 6px 0 rgb(0 0 0 / 15%),
			0 3px 3px 0 rgb(0 0 0 / 15%);
	}

	> span {
		z-index: 1;
	}

	.behind {
		position: absolute;
		overflow: hidden;
		z-index: 0;
		transition-property: transform;
		transition-timing-function: ease-in-out;
		transition-duration: 200ms;

		&.second {
			opacity: 0.6;
			top: -6px;
			left: 10px;
			right: 10px;
			bottom: 16px;
		}

		&.third {
			opacity: 0.4;
			top: -12px;
			left: 20px;
			right: 20px;
			bottom: 32px;
		}
	}

	&:hover {
		@include -translate-y-1;
		.behind {
			&.second {
				transform: translateY(1px);
			}

			&.third {
				transform: translateY(2px);
			}
		}
	}

	.content {
		position: relative;
		z-index: 2;
		text-align: center;
		margin: 12px;
		width: 100%;

		.title {
			margin-bottom: 4px;
			color: #fff;
			font-weight: 600;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
		}
	}
}

@media (max-width: 1280px) {
	.collections {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 40px;
	}
}

@media (max-width: 480px) {
	.collections {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
