@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

.button {
	@include btn-primary;
	padding: 8px 40px;
}

.common {
	position: relative;
	border-bottom-width: 1px;
	border-color: $basic-600;
	transition: all ease-in-out 200;
	&:focus-within {
		border: $primary;
	}

	> label {
		display: block;
		> span {
			display: block;
			font-size: 12px;
			line-height: 16px;
			color: $basic-600;
			text-transform: uppercase;
		}
	}
}

.field {
	text-align: left;
	margin-bottom: 32px;

	input {
		outline: none;
		border: none;
		background-color: transparent;
		color: $basic-500;
		width: 100%;
		margin: 0;
		padding-left: 0;
		padding-right: 0;

		&:focus {
			@apply ring-0;
		}
	}
}

.uploadField {
	position: relative;
	.uploadFlex {
		display: flex;

		> .uploadImageContainer {
			position: relative;
			flex-shrink: 0;
			width: 96px;
			height: 96px;

			img {
				@include image-like-bg;
				border-radius: 6px;
			}

			> span {
				@include animate-fade;
			}
		}

		> label {
			display: block;
			margin-right: 24px;

			.error {
				position: relative;
				bottom: -12px;
			}

			> span {
				display: block;
				margin-bottom: 16px;
				color: $basic-600;
				font-size: 12px;
				line-height: 16px;
				text-transform: uppercase;
			}

			> input {
				display: block;
				width: 100%;
				font-size: 14px;
				line-height: 20px;
				color: $basic-600;
				transition: all ease-in-out200;
				opacity: 0.7;

				@apply file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white;
			}

			&:hover > input {
				opacity: 1;
			}
		}
	}
}

.error {
	position: absolute;
	bottom: -24px;
	left: 0;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	color: $primary;
}

.editorWrapper {
	border: 0;
}

.toolbar {
	margin: 16px 0 0;
	padding: 12px;
	outline: none;
	border: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: $basic-500;

	> div {
		margin: 0;

		> div {
			@include shadow-none;
			outline: none;
			border: none;
			margin: 0 6px;
			transition: all ease-in-out 200;
			background: $basic-500;

			&:hover {
				background-color: $basic-300;
			}
		}
	}
}

.editor {
	height: 384px;
	padding: 16px;
	border-width: 1px;
	border-color: $basic-500;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	overflow: hidden;
	color: $basic-500;
}
