@import '../../../../../assets/styles/mixins.scss';

.list {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.name {
	margin-right: 8px;
	color: rgba(255, 255, 255, 0.6);
}

.links {
	color: rgba(255, 255, 255, 0.9);
	> a {
		@include text-link;
	}
}

@media (max-width: 480px) {
	.name {
		font-size: 12px;
		line-height: 16px;
	}
	.links {
		> a {
			font-size: 12px;
			line-height: 16px;
		}
	}
}
