@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/colors.scss';

.selectContainer {
	position: relative;
	margin-bottom: 32px;
	@include animate-fade;

	> label {
		@apply block;
		display: block;

		> span {
			display: block;
			margin-bottom: 4px;
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
			color: $basic-600;
		}
	}
}
