@import '../../../assets/styles/variables';

.gallery {
	@apply flex items-center overflow-x-auto flex-nowrap py-3;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}
}

.item {
	@apply relative transition-transform flex items-end shadow-lg rounded-layout overflow-hidden;
	flex: 0 0 auto;

	&:hover {
		transform: translateY(-5px);
	}

	&.vertical {
		@apply mr-4 last:mr-0 h-72 w-52;
	}

	&.horizontal {
		@apply mr-6 last:mr-0 mb-8 h-44;
		width: 30%;
	}

	&.withText {
		@include fade-bg-gradient(0deg);
		&::before {
			@apply rounded-layout;
		}
	}

	img {
		@apply image-like-bg;
	}

	.content {
		@apply relative z-2 text-center m-3 w-full;

		.title {
			@apply font-semibold mb-1 text-white text-shadow;
		}

		.subTitle {
			@apply text-grey-500 text-shadow;
		}
	}
}

@media (max-width: 1280px) {
	.item {
		&.vertical {
			@apply w-44;
		}
	}
}
@media (max-width: 600px) {
	.gallery {
		.item {
			&.vertical {
				@apply h-64 w-40;
			}
		}
	}
}
