@import '@/assets/styles/mixins.scss';
@import '@/assets/styles/colors.scss';

.wrapper {
	@include shadow-xl;
	@include animate-fade;
	position: relative;
	margin-top: 48px;
	border-radius: 16px;
	overflow: hidden;

	.controls {
		position: absolute;
		bottom: 12px;
		left: 24px;
		right: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> div:first-child {
			display: flex;
			align-items: center;
			justify-content: space-between;

			> button {
				margin-right: 12px;
				font-size: 24px;
				color: #fff;
				outline: none;
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}
			}

			.playButton {
				font-size: 36px;
			}

			.timeControls {
				margin-left: 16px;
				display: flex;
				align-items: center;
				color: #fff;
				opacity: 0.6;

				> p:nth-child(2) {
					@apply mx-2;
					margin-left: 8px;
					margin-right: 8px;
				}
			}
		}

		> div:last-child {
			display: flex;
			align-items: center;

			> button {
				font-size: 30px;
				outline: none;
				color: #fff;
				opacity: 0.6;
				transition: all ease-in-out 200;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.progressBarContainer {
		width: calc(100% - 2rem);
		position: absolute;
		left: 16px;
		right: 16px;
		bottom: 56px;
		height: 4px;
		border-radius: 9999px;
		background-color: $basic-600;

		.progressBar {
			background-color: $primary;
			border-radius: 9999px;
			height: 100%;
		}
	}
}
