@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/colors.scss';

.menu {
	margin-bottom: 56px;
	@include animate-fade;
}

.menu__heading {
	color: $basic-500;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	padding-left: 44px;
}

.menu__item {
	padding: 0 32px;
	border-right-width: 4px;
	border-color: transparent;
	transition: all ease-in-out 200;
}

.menu__item_active {
	border-color: $primary;

	.menu__title {
		color: #fff;
	}
	> a > svg {
		fill: $primary;
	}
}

.menu__link {
	display: flex;
	align-items: center;
	color: $basic-600;
	padding: 0 12px;
	margin-top: 24px;
	cursor: pointer;

	> svg {
		font-size: 22px;
		transition: all ease-in-out 200;
	}
}

.menu__title {
	margin-left: 12px;
	transition: all ease-in-out 200;
	&:hover {
		color: #fff;
	}
}
