@import '../../../../../assets/styles/colors.scss';

.actions {
	display: flex;
	align-items: center;

	> button {
		outline: none;
		border: none;
		background-color: transparent;
		font-size: 20px;
		line-height: 28px;
		color: $primary;
		opacity: 0.8;
		transition: all ease-in-out 200;

		&:hover {
			opacity: 1;
		}

		&:first-child {
			margin-right: 16px;
		}
	}
}
