@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/colors.scss';

.wrapper {
	@include air-block;
	width: 50%;
	margin: 40px auto;
	padding: 28px;
	text-align: center;

	> div {
		font-size: 36px;
		line-height: 40px;
		opacity: 0.9;
	}
}

.title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

.subtitle {
	font-size: 18px;
	line-height: 28px;
	margin: 8px 0 12px;
	opacity: 0.6;
}

.thanks {
	@include animate-scaleIn;
	color: $yellow-700;
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
}

@media (max-width: 1300px) {
	.wrapper {
		width: 75%;
	}
}

@media (max-width: 600px) {
	.wrapper {
		width: 100%;
		padding: 20px;
	}
}

@media (max-width: 440px) {
	.title {
		font-size: 20px;
		line-height: 28px;
	}
	.subtitle {
		font-size: 16px;
		line-height: 24px;
	}
}

@media (max-width: 400px) {
	.title {
		font-size: 18px;
		line-height: 28px;
	}
	.subtitle {
		font-size: 14px;
		line-height: 20px;
	}
}
