@import '@/assets/styles/mixins.scss';
@import '@/assets/styles/colors.scss';

.slider {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

.slide {
	@include fade-bg-gradient();
	@include shadow-xl;
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 320px;
	border-radius: 23px;
	overflow: hidden;
}

.image {
	@include image-like-bg;
}

.content {
	position: relative;
	z-index: 2;
	padding: 32px;
}

.heading {
	color: #fff;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 1;
	font-weight: 600;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	margin-bottom: 4px;
}

.subHeading {
	color: $basic-300;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 16px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.button {
	@include btn-primary;
	padding: 8px 40px;
}

@media (max-width: 1280px) {
	.slide {
		height: 260px;
	}
	.heading {
		font-size: 36px;
	}
}

@media (max-width: 600px) {
	.slide {
		height: 260px;
	}
	.heading {
		font-size: 32px;
	}
}

@media (max-width: 500px) {
	.slide {
		height: 260px;
	}
	.heading {
		font-size: 24px;
	}
	.subHeading {
		font-size: 12px;
	}
	.button {
		width: 96px;
		padding-left: 24px;
		padding-right: 24px;
	}
}
