@import '../../../assets/styles/colors.scss';

.container {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: $basic-900;
	overflow: scroll;
	top: 0;
	right: 0;
	height: 80px;
	width: 100%;
	background-color: $basic-900;
	z-index: 30;
}

.container_opened {
	height: 100%;
	background-color: $basic-900;
}

.menus {
	margin-top: 96px;
	display: none;
}

.menus_visible {
	display: block;
}

@media (min-width: 800.01px) {
	.container {
		display: none;
	}
}

@media (max-width: 800px) {
	.container_opened {
		width: 40%;
	}
}

@media (max-width: 600px) {
	.container_opened {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.container_opened {
		width: 60%;
	}
}

@media (max-width: 400px) {
	.container_opened {
		width: 75%;
	}
}
