@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/colors.scss';
.list {
	margin-top: 44px;
	@include animate-fade;
}

.heading {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 20px;
	color: #fff;
	text-transform: capitalize;
}

.button {
	display: block;
	text-align: center;
	padding: 10px;
	@include btn-primary;
}

.wrapper {
	border-right: 1px;
	border-color: transparent;
	border-radius: 4px;
	padding: 4px 0 0 4px;
}
.item {
	display: flex;
	margin-bottom: 16px;
}

.info {
	margin-left: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 67%;
}

.img {
	border-radius: 8px;
	width: 67px;
	height: 99px;
	padding: 1px;
	&:hover {
		background-color: $primary;
	}
}

.title {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.genres {
	color: $basic-600;
	font-size: 14px;
	line-height: 20px;

	:hover {
		color: $primary;
	}
}

.rating {
	display: flex;
	align-items: center;
	margin-bottom: 8px;

	> svg {
		fill: $yellow-700;
		margin-right: 8px;
		font-size: 18px;
		line-height: 28px;
	}

	> span {
		color: #fff;
		padding-top: 2px;
		font-weight: 500;
	}
}
