@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/mixins.scss';

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
	padding: 0 20px;
	border-radius: 8px;
	background: $basic-800;
	transition: all ease-in-out 200;

	&:hover {
		background: $basic-700;
	}

	> div {
		color: rgba(255, 255, 255, 0.8);
		padding: 12px 0;
		width: 24%;

		&:last-child {
			text-align: right;
			justify-content: flex-end;
		}
	}
}

.itemHeader {
	@include shadow-lg;
	margin-top: 32px;
	background: rgba(227, 11, 19, 0.2);

	&:hover {
		background: rgba(227, 11, 19, 0.2);
	}

	> div {
		color: rgba(225, 225, 225, 0.9);
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: 600;
	}
}

.notFound {
	padding: 12px 0;
	color: rgba(225, 225, 225, 0.6);
	text-align: center;
	font-size: 18px;
	line-height: 28px;
}
