@import '../../../assets/styles/mixins.scss';
.auth__wrapper {
	margin-top: 128px;
}

.auth__form {
	@include air-block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 28px;
	text-align: center;
}

.auth__buttons {
	margin-top: 48px;
	@include shadow-lg;

	> button {
		&:first-child {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		&:last-child {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			opacity: 0.8;
			background-color: #8f050b;
			transition-property: opacity;
			transition-timing-function: ease-in-out;
			transition-duration: 200ms;

			&:hover {
				opacity: 1;
			}
		}
	}
}

@media (max-width: 960px) {
	.auth__form {
		width: 60%;
	}
}

@media (max-width: 855px) {
	.auth__form {
		width: 70%;
	}
}

@media (max-width: 800px) {
	.auth__form {
		width: 60%;
	}
}

@media (max-width: 620px) {
	.auth__form {
		width: 75%;
	}
}

@media (max-width: 510px) {
	.auth__form {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 350px) {
	.auth__buttons {
		> button {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}
