@import '../../../../assets/styles/colors.scss';

.badge {
	cursor: pointer;
	position: absolute;
	top: 24px;
	right: 12px;
	padding: 2px 8px;
	border-radius: 8px;
	border-color: $basic-500;
	background: $basic-500;
	color: $basic-800;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	transition: all ease-in-out 200;

	&:hover {
		background: $basic-300;
	}
}
